*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #07091a;
  color: #c0d4f5;
  font-family: 'Segoe UI', 'PingFang SC', sans-serif;
  font-size: 13px;
}
